#app {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;

  background-color: #e0e0e0;
}

.required label::before {
  content: "*";
  color: red;
}
